# A default .gitignore for Create Go App project.
# Author: Vic Shóstak <vic@shostak.dev> (https://shostak.dev)
# For more information, please visit https://create-go.app/

# macOS
**/.DS_store

# Temporary files
tmp/

# Node.js dependencies
**/node_modules/
